# ==========================
# Python / Backend
# ==========================
.venv/
__pycache__/
*.pyc
*.db
*.ini
.env

# ==========================
# OS / Editor / Global
# ==========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ==========================
# Vue Frontend
# ==========================
# Dependencies
frontend/node_modules/

# Build Outputs
frontend/dist/
frontend/dist-ssr/
# specific to "vue-tsc -b" in your script
frontend/*.tsbuildinfo

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Environment & Testing
frontend/.env
frontend/.env.*.local
frontend/*.local
frontend/coverage/